<% layout('layout/boilerplate') %>
  <link rel="stylesheet" href="/stylesheets/stars.css">

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <a href="/machinery/cart">Cart</a>
        <div class="card">
          <img src="<%= mach.image_url %>" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">
              <%= mach.machinery_name %>
            </h5>
            <p class="card-text">Starting Price: <%= mach.price %>
            </p>
            <p class="card-text">Quantity: <%= mach.quantity %>
            </p>
            <p class="card-text">Quality: <%= mach.state %>
            </p>
            <p class="card-text">
              <%= mach.description %>
            </p>
            <% if(currentUser==mach.seller_id){%>
              <form action="/machinery/<%=mach.machinery_id%>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger mb-4">DELETE</button>
              </form>
              <%}%>
                <form action="/machinery/<%= mach.machinery_id %>/cart" method="post" class="mt-3">
                  <div class="input-group">
                    <input type="number" name="quantity" id="quantity" class="form-control" aria-label="Quantity"
                      aria-describedby="add-to-cart-btn" value="1" min="1">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-success" id="add-to-cart-btn">Add To Cart</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <!-- Add form for adding a new review -->
        <% if (currentUser) { %>
          <form action="/machinery/<%= mach.machinery_id %>/reviews" method="POST">
            <div>
              <fieldset class="starability-growRotate">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                  aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Comment:</label>
              <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
          </form>
          <% } %>
            <h3>Reviews</h3>
            <div style="max-height: 400px; overflow-y: auto;">
              <% if (reviews && reviews.length> 0) { %>
                <% reviews.forEach(review=> { %>
                  <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%=review.username%>
                      </h5>
                      <p class="starability-result card-subtitle" data-rating="<%=review.rating%>">
                        Rated: <%=review.rating%> stars
                      </p>
                      <p class="card-text">Comment: <%= review.comment %>
                      </p>
                      <% if(currentUser==review.user_id){%>
                        <form action="/machinery/<%=mach.machinery_id%>/review/<%=review.review_id%>?_method=DELETE"
                          method="post">
                          <button type="submit" class="btn btn-danger mb-4">DELETE</button>
                        </form>
                        <%}%>
                    </div>
                  </div>
                  <% }); %>
                    <% } else { %>
                      <p>No reviews yet.</p>
                      <% } %>
            </div>
      </div>
    </div>
  </div>